.profile__change {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;

    margin-top: 220px;
    margin-bottom: 16px;
}