.profile__form_field {
    width: 100%;
    text-align: end;
    border: none;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
}