.profile {
    max-width: 410px;
    margin: 0px auto 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 320px) {
    .profile {
        max-width: 260px;
    }
}