.profile__save-button {
    width: 410px;
    height: 45px;
    margin-top: 210px;
    margin-bottom: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    background-color: #3456F3;
    border: none;
    border-radius: 3px;

    display: none;
}

.profile__save-button:hover {
    opacity: 0.7;
    cursor: pointer;
}