.about-project__rect_grey{
    width: 912px;
    height: 36px;
    background-color: #F2F2F2;
    display: flex;
    justify-content:center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .about-project__rect_grey {
        width: 528px;
        font-size: 14px;
        line-height: 17px;
    }
}