.about-project__line {
    /* width: 1140px; */
    height: 1px;
    background-color: #000000;
    border-width: 0px;
    margin-top: 23px;
    /* margin-bottom: 70px; */
}

@media screen and (max-width: 320px) {
    .about-project__line {
        margin-top: 23px;
        max-width: 284px;
    }
}