.about-project__description_title {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
}

@media screen and (max-width: 320px) {
    .about-project__description_title {
        margin-bottom: 16px;
        margin-top: 0px;
        font-size: 18px;
        line-height: 23px;
    }
}