.about-project__rect_short {
    width: 228px;
    height: 36px;
    display: flex;
    justify-content:center;
    align-items: center;
    color: #A0A0A0;
    margin-bottom: 110px;
}

@media screen and (max-width: 768px) {
    .about-project__rect_short {
        width: 140px;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 90px;
    }
}