.not-found__title {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 140px;
    line-height: 169px;
    text-align: center;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
}