.promo-header__signin-link {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding-right: 30px;
}

.promo-header__signin-link:hover {
    opacity: 0.6;
    cursor: pointer;
}