.promo-header {
    max-width: 1280px;
    min-height: 74px;
    margin: 0px auto 0px;
    background-color: #073042;
    /* border-bottom: 1px solid rgba(54, 54, 54, 0.7); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .promo-header {
        /* width: 100%; */
        max-width: 1024px;
        /* min-height: 56px; */
        /* padding-top: 28px; */
        margin: 0px auto;
    }
}