.movies-card-list {
    max-width: 1140px;
    /* margin: 70px auto; */

    margin: 6px auto;
    
    
    /* margin-left: 70px;
    margin-right: 70px; */
    /* margin-top: 70px; */
    display: grid;
    /* grid-template-columns: repeat(4, 270px); */
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    padding: 4rem 2rem;
    column-gap: 20px;
    row-gap: 38px;
    /* position: relative; */
}

@media screen and (max-width: 1024px) {
    .movies-card-list {
        /* max-width: 80%;
        grid-template-columns: repeat(3, 1fr); */
    }
}

@media screen and (max-width: 768px) {
    .movies-card-list {
        /* margin-left: 30px; */
        /* margin-right: 30px; */


        /* max-width: 80%;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 30px; */
    }
}

@media screen and (max-width: 425px) {
    .movies-card-list {
        /* margin-left: 10px; */
        /* margin-right: 10px; */
        padding: 40px 20px;
        margin: auto;
        /* margin-top: 10px; было */
        /* margin: 10px auto 10px; */
        /* max-width: 80%; */
        /* grid-template-columns: 1fr; было */
        /* column-gap: 30px; */
        row-gap: 34px;
    }
}