.portfolio__line {
    width: 1140px;
    height: 1px;
    background-color: #E6E6E6;
    border-width: 0px;
    margin-top: 19px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .portfolio__line {
        width: 668px;
        margin: 19px auto 20px;
    }
}

@media screen and (max-width: 1024px) {
    .portfolio__line {
        width: 924px;
        /* margin: 19px auto 20px; */
    }
}