.portfolio__content {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #000000;
}

@media screen and (max-width: 768px) {
    .portfolio__content {
        font-size: 28px;
    }
}