.portfolio__content {
    padding-left: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #000000;
}