.register__field_name {
    margin-bottom: 10px;
    margin-top: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;

    color: #A0A0A0;
}