.footer__link {
    text-decoration: none;
    padding-right: 30px;
    color: #000000;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
}

.footer__link:hover {
    opacity: 0.6;
}