.footer__links {
    margin-top:0px;
    margin-bottom: 0px;
    list-style-type: none;
    color: #000000;
    list-style: none;
}

@media screen and (max-width: 425px) {
    .footer__links {
        display: flex;
        flex-direction: column;
        padding-right: 0px;
        list-style-type: none;
        padding-left: 0px;
        align-items: center;
    }
}