.about-me__info {
    margin-bottom: 99px;
    max-width: 600px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
}