.about-me__subtitle {
    margin-bottom: 26px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #111111;
}

@media screen and (max-width: 768px) {
    .about-me__subtitle {
        font-size: 12px;
        line-height: 18px;
    }
}