.preloader {
    margin-left: 70px;
    margin-right: 70px;
    
}

@media screen and (max-width: 768px) {
    .preloader {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media screen and (max-width: 320px) {
    .preloader {
        margin-left: 10px;
        margin-right: 10px;
    }
}